{% extends 'layout.twig'%}

{% block body %}
  <h1>Listado de peliculas</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Año</th>
    </tr>
      {% for movie in movies %}
    <tr>
        <td>{{ movie.id }}</td>
        <td> {{ movie.name }}</td>
        <td> {{ movie.year }}</td>
        {# <td><a href="/movies/{{movie.id}}">Borrar</a></td> #}
    </tr>
      {% endfor %}
  </table>

  <h1>Introduce una nueva pelicula</h1>

  <form action="/movies" method="post">
    <input type="number" name="id" placeholder="Introduce el ID">
    <input type="text" name="name" placeholder="Introduce el titulo">
    <input type="text" name="year" placeholder="Introduce el año">
    <button>Enviar</button>
    
  </form>


  <h1>Introduce el ID de la pelicula que quieres eliminar</h1>
  <form action="/movies" method="post">
    <input type="number" name="delete" placeholder="ID">
    <button>Enviar</button>
  </form>

{% endblock %}