{% extends 'layout.twig' %}

{% block body %}
  <h1>Detalles de la pelicula: {{ movies.name }}</h1>
  <h3>Año: {{ movies.year }}</h3>
  <p>ID: {{ movies.id }}</p>
  <a href="/movies">Volver</a>
{% endblock %}
